<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jhhg</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="text-center mt-72 font-bold text-3xl">Hello <%= username %></div>
  </body>
</html>
