<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text-center mt-72 ">
        <input type="text" name="data" id="name">
        <input type="password" name="password" id="password">
        <button type="button" class="bg-blue-500 p-2" onclick="checkVal()" value="Submit">Submit</button>
    </div>
</body>

</html>